<% layout('/layouts/default.html', {title: '民主测评报告', libs: ['dataGrid']}){ %>
<style>
	body {
		counter-reset: section;
	}

	.box-body label {
		font-weight: normal;
	}

	.box-body .row {
		padding-left: 40px;
	}

	.box-body .row>div {
		padding: 10px 0;
		border-bottom: 1px dotted #eee;
	}

	.title0 {
		font-size: 16px;
		counter-reset: subsection xxx;
	}

	.title0:before {
		counter-increment: section;
		content: "第"counter(section) "部分. ";
	}

	.title1 {
		font-size: 14px;
		padding-left: 2em;
		counter-reset: subsubsection xxx;
	}

	.title1:before {
		counter-increment: subsection;
		content: counter(section) "."counter(subsection) " ";
	}

	.title2 {
		padding-left: 4em;
		counter-reset: xxx;
	}

	.title2:before {
		counter-increment: subsubsection;
		content: counter(section) "."counter(subsection) "."counter(subsubsection) " ";
	}

	.titleL:before {
		counter-increment: xxx;
		content: counter(xxx) " : ";
		/*color: red;*/
	}

	/* .evaluindex:before {
		counter-increment: subsubsubsection;
		content: counter(subsubsubsection);
	} */
</style>
<div class="main-content">
	<div class="box box-main">
		<div class="pad margin no-print">
			<div class="callout callout-info" style="margin-bottom: 0!important;">
				<h4><i class="fa fa-info"></i> Note:</h4>
				This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
			</div>
		</div>
		<section class="invoice">
			<!-- title row -->
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">
						<i class="fa fa-lastfm-square"></i> ${evalu.title}
						<small class="pull-right">结束时间: ${evalu.endTime, dateFormat="yyyy-MM-dd HH:mm"}</small>
						<small class="span6">( ${text('民主测评报告')} )</small>
					</h2>
				</div>
				<!-- /.col -->
			</div>
			<!-- info row -->
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="info-box bg-gray-light">
						<span class="info-box-icon bg-yellow"><i class="fa fa-forumbee"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">计划</span>
							<span class="info-box-number">90 / 20</span>
							<small>(参评部门/测评份数)</small>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="info-box bg-aqua">
						<span class="info-box-icon"><i class="fa fa-sliders"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">进度(已提交/未提交)</span>
							<span class="info-box-number">180 , 20</span>

							<div class="progress">
								<div class="progress-bar" style="width: 90%"></div>
							</div>
							<span class="progress-description">
								90% 已完成测评任务
							</span>
						</div>
						<!-- /.info-box-content -->
					</div>
				</div>
				<!-- fix for small devices only -->
				<div class="clearfix visible-sm-block"></div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="info-box bg-gray-light">
						<span class="info-box-icon bg-green"><i class="fa fa-pagelines"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">测评结果</span>
							<span class="info-box-number">38 / 70 / 10</span>
							<small>(优秀/合格/不合格/作废)</small>
						</div>
					</div>
				</div>
			</div>


			<!-- Table row -->
			<div class="row">
				<div class="col-xs-6">
					<table id="dataGrid"></table>
					<div id="dataGridPage"></div>
				</div>				
			</div>
			<!-- /.row -->

			<div class="row">
				<!-- accepted payments column -->
				<div class="col-xs-6">
					<p class="lead">Payment Methods:</p>
					<img src="../../dist/img/credit/visa.png" alt="Visa">
					<img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
					<img src="../../dist/img/credit/american-express.png" alt="American Express">
					<img src="../../dist/img/credit/paypal2.png" alt="Paypal">
					<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
						Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango
						imeem plugg
						dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
					</p>
				</div>
				<!-- /.col -->
				<div class="col-xs-6">
					<p class="lead">Amount Due 2/22/2014</p>

					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<th style="width:50%">Subtotal:</th>
									<td>$250.30</td>
								</tr>
								<tr>
									<th>Tax (9.3%)</th>
									<td>$10.34</td>
								</tr>
								<tr>
									<th>Shipping:</th>
									<td>$5.80</td>
								</tr>
								<tr>
									<th>Total:</th>
									<td>$265.24</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->

			<!-- this row will not appear when printing -->
			<div class="row no-print">
				<div class="col-xs-12">
					<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i>
						Print</a>
					<button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit
						Payment
					</button>
					<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
						<i class="fa fa-download"></i> Generate PDF
					</button>
				</div>
			</div>
		</section>
	</div>
</div>
<% } %>

<script>
//加载测评数据记录
var evaluData = null;
		$.ajax({
			type:"POST",
			async: false,
			url:"${ctx}/evalu/evalu/evaluData?evaluId=${evalu.id}&deptId=",
			dataType:"json",
			success: function(json){
				evaluData = json;
			}});

// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	data: evaluData,
    datatype: "local",
	columnModel: [
		{header:'${text("参评部门")}', name:'title', index:'a.title', width:250, align:"left", formatter: function(val, obj, row, act){
			return '<a href="${ctx}/evalu/evalu/form?id='+row.id+'" class="btnList" data-title="${text("查看部门详细得分")}">'+(val||row.id)+'</a>';
		}},		
		{header:'${text("有效回收评测表")}', name:'amount', index:'a.score', width:150, align:"right"},
		{header:'${text("总分")}', name:'sum', index:'a.has_opinion', width:150, align:"center"},
		{header:'${text("平均分")}', name:'score', index:'a.status', width:150, align:"center"},
		{header:'${text("名次")}', name:'ranking', index:'a.status', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('evalu:evalu:edit')){ %>
				actions.push('<a href="${ctx}/evalu/evalu/form?id='+row.id+'" class="btnList" title="${text("查看评测意见")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/evalu/evalu/delete?id='+row.id+'" class="btnList" title="${text("查看评测明细")}" data-confirm="${text("确认要删除该民主测评吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/evalu/evaluLib/list/'+row.id+'" class="btnList" title="${text("测评项管理")}"><i class="fa fa-list-ol"></i></a>&nbsp;');	
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>