<% layout('/layouts/default.html', {title: '民主测评明细树表管理', libs: ['dataGrid','validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${evalu.title}- ${text('测评明细管理')}(总分:${evalu.score})
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnRefreshTree" title="${text('刷新')}"><i class="fa fa-refresh"></i> ${text('刷新')}</a>
				<a href="#" class="btn btn-default" id="btnExpandTreeNode" title="${text('展开一级')}"><i class="fa fa-angle-double-down"></i> ${text('展开')}</a>
				<a href="#" class="btn btn-default" id="btnCollapseTreeNode" title="${text('折叠全部')}"><i class="fa fa-angle-double-up"></i> ${text('折叠')}</a>
				<a href="#" class="btn btn-default" id="btnUpdateSort" title="保存分数和排序"><i class="fa fa-sort-amount-asc"></i> 保存</a>
				<% if(hasPermi('evalu:evaluLib:edit')){ %>
					<a href="${ctx}/evalu/evaluLib/form?evaluId=${evaluLib.evaluId}" class="btn btn-default btnTool" title="${text('新增民主测评明细树表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${evaluLib}" action="${ctx}/evalu/evaluLib/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('评测项')}：</label>
					<div class="control-inline">
						<#form:input path="treeName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<#form:hidden path="evaluId" />
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
		    <#form:form id="dataGridForm" action="${ctx}/evalu/evaluLib/updateTreeSort" method="post">
			<table id="dataGrid"></table>
	       </#form:form>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
var jsonData = null;
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("评测项")}', name:'treeName', index:'a.tree_name', width:500, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/evalu/evaluLib/form?treeCode='+row.treeCode+'" class="btnList" data-title="${text("编辑民主测评明细树表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("分数权重")}', name:'score', index:'a.score', width:150, align:"right", formatter: function(val, obj, row, act){
			//return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
			var html = [];
			var otherProps ="";
			if(row.isTreeLeaf){
				otherProps = ' onblur="ScoreCheck(\'' + row.treeCode + '\', \''+ row.parentCode +'\',\''+ row.treeLevel + '\')" ';
			}else{
				otherProps = ' readonly="readonly" ';
			}
			html.push('<input name="scores" type="text" id="' + row.treeCode +'" class="required number" value="'+row.score+'"'+ otherProps +' style="width:50px;height:19px;margin:0;padding:0;text-align:center;border:1px solid #ddd">');
			return html.join('');
		}},
		{header:'${text("计分方式")}', name:'evalSelectType', index:'a.eval_select_type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('eval_select_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("排序号")}', name:'treeSort', index:'a.tree_sort', width:150, align:"center",
			formatter: function(val, obj, row, act){
				var html = [];
					html.push('<input type="hidden" name="ids" value="'+row.treeCode+'"/>');
					html.push('<input name="sorts" type="text" value="'+row.treeSort+'" style="width:50px;height:19px;margin:0;padding:0;text-align:center;border:1px solid #ddd">');
				return html.join('');
			}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('evalu:evaluLib:edit')){ %>
				actions.push('<a href="${ctx}/evalu/evaluLib/form?treeCode='+row.treeCode+'" class="btnList" title="${text("编辑民主测评明细树表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/evalu/evaluLib/delete?treeCode='+row.treeCode+'" class="btnList" title="${text("删除民主测评明细树表")}" data-confirm="${text("确认要删除该民主测评明细树表及所有子民主测评明细树表吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/evalu/evaluLib/form?evaluId=${evaluLib.evaluId}&parentCode='+row.id+'" class="btnList" title="${text("新增下级民主测评明细树表")}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 99,	// 默认展开的层次
	expandNodeClearPostData: 'treeName,score,evalSelectType,evaluId,remarks,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	showFooter: true,
	showRownum: true,
	ajaxSuccess: function(data){
		jsonData = data;
		var totalItem = 0;
		var totalScore = 0;
		$(data).each(function(index, d){
			if( d.isTreeLeaf ){
				totalItem ++;
				if(d.score != null && d.score != ""){
					totalScore += d.score;
				}
			}
		});

		//判断是否评分合理
		var evaluScore = "${evalu.score}";
		if( totalScore != parseInt(evaluScore)){
			js.showMessage("各测评项分数和要求不符", "注意", "warning");
		}
		$('#dataGrid').dataGrid("footerData", "set", {
			"score" : "<center><em>共计："+ totalItem + "</em> 评测项</center>",
			"treeName": "各评测项总分:<em id='totalScore'> "+ totalScore +" </em> 分"
		}, false);
	}
});
</script>
<script>
	// 绑定更新排序按钮
$('#btnUpdateSort').click(function(){
	js.ajaxSubmitForm($("#dataGridForm"), function(data){
		if(data.result == Global.TRUE){
			$('#btnRefreshTree').click();
		}
		js.showMessage(data.message);
	}, "json");

   //保存时分数不平衡提示信息
});

function ScoreCheck(node, parent, treeLevel){
	if( parent == null || parent == "" || parent == "0"){
		//顶层指标不处理
		if(treeLevel != '0'){
			return;
		}		
	}
	var treeTotal = 0;
	$(jsonData).each(function(index,item){
		if(item.parentCode == parent){
			var temp = $("input[id='"+ item.treeCode + "']").val();
			try{
				treeTotal += parseFloat(temp);
			}catch(e){}
		}
	});
	//累加上级数据
	var total = 0;
	$("input[id='"+ parent + "']").val(treeTotal);
	$(" td[aria-describedby='dataGrid_score']").find("input").not("[readonly='readonly']").each(function(index, con){
		try{
			total += parseFloat($(con).val());
		}catch(e){}
	});
	$("#totalScore").text( total )
	if( total != parseFloat('${evalu.score}')){
		$("#totalScore").addClass("text-danger");
	}else{
		$("#totalScore").removeClass("text-danger");
	}
	
}
</script>