<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${site.title}</title>

    <meta name="description" content="绵阳市公安局目标绩效考核系统">
    <link rel="stylesheet" id="dashicons-css" href="/js/static/modules/frontcms/dashicons.min.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="obfx-module-pub-css-menu-icons-0-css"
          href="/js/static/modules/frontcms/font-awesome.min.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="contact-form-7-css" href="/js/static/modules/frontcms/styles.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="edd-styles-css" href="/js/static/modules/frontcms/edd.min.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="woocommerce-layout-css" href="/js/static/modules/frontcms/woocommerce-layout.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css"
          href="/js/static/modules/frontcms/woocommerce-smallscreen.css" type="text/css"
          media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css" href="/js/static/modules/frontcms/woocommerce.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="megamenu-css" href="/js/static/modules/frontcms/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="parallax-one-fonts-css" href="/js/static/modules/frontcms/sanye.css" type="text/css"
          media="all">
    <link rel="stylesheet" id="parallax-one-bootstrap-style-css" href="/js/static/modules/frontcms/bootstrap.min.css"
          type="text/css"
          media="all">
    <link rel="stylesheet" id="parallax-one-font-awesome-css" href="/js/static/modules/frontcms/font-awesome.min(1).css"
          type="text/css"
          media="all">
    <link rel="stylesheet" id="parallax-one-style-css" href="/js/static/modules/frontcms/style(1).css" type="text/css"
          media="all">
    <link rel="stylesheet" id="scss-css" href="/js/static/modules/frontcms/sccss.css" type="text/css" media="all">
    <link rel="stylesheet" id="sib-front-css-css" href="/js/static/modules/frontcms/mailin-front.css" type="text/css"
          media="all">
    <link type="text/css" href="/js/static/modules/frontcms/optanon.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
</head>

<body class="home blog mega-menu-primary" dir="ltr" rlt="1">
<div id="mobilebgfix">
    <div class="mobile-bg-fix-img-wrap">
        <div class="mobile-bg-fix-img"></div>
    </div>
    <div class="mobile-bg-fix-whole-site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="preloader" style="display: none;">
            <div class="status" style="display: none;">&nbsp;</div>
        </div>
        <header id="masthead" role="banner" data-stellar-background-ratio="0.5"
                class="header header-style-one site-header" style="opacity: 1;">
            <div class="overlay-layer-nav sticky-navigation-open" style="min-height: 70px;">
                <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation appear-on-scroll">
                    <div class="container">
                        <div class="navbar-header">
                            <button title="Toggle Menu" type="button" class="navbar-toggle menu-toggle" id="menu-toggle"
                                    data-toggle="collapse" data-target="#menu-primary">
                                <span class="screen-reader-text">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">
                                <img src="/js/static/modules/frontcms/logo.png" alt="Parallax One" class="lazyloading "
                                     data-was-processed="true">
                                <span class="dark-text">绵阳市公安局目标绩效考核系统</span>
                            </a>
                        </div>
                        <div aria-label="Primary Menu" id="menu-primary" class="navbar-collapse collapse">
                            <div id="site-header-menu" class="site-header-menu">
                                <nav id="site-navigation" class="main-navigation" role="navigation">
                                    <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                                        <div class="mega-menu-toggle" tabindex="0">
                                            <div
                                                    class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-1"
                                                    id="mega-toggle-block-1"></div>
                                        </div>
                                        <ul id="mega-menu-primary" class="mega-menu mega-menu-horizontal"
                                            data-event="hover_intent"
                                            data-effect="disabled" data-effect-speed="200" data-effect-mobile="disabled"
                                            data-effect-speed-mobile="200" data-second-click="close"
                                            data-document-click="collapse"
                                            data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                                            <li
                                                    class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-6159"
                                                    id="mega-menu-item-6159">
                                                <a class="mega-menu-link" href="#team" tabindex="0">工作动态</a>
                                            </li>
                                            <li
                                                    class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-6158"
                                                    id="mega-menu-item-6158">
                                                <a class="mega-menu-link" href="#story" tabindex="0">绩效报告</a>
                                            </li>

                                            <li
                                                    class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-menu-item-home mega-align-bottom-left mega-menu-flyout mega-menu-item-6160"
                                                    id="mega-menu-item-6160">
                                                <a class="mega-menu-link" href="#latestnews" tabindex="0">重要文件</a>
                                            </li>
                                            <li
                                                    class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-6163"
                                                    id="mega-menu-item-6163">
                                                <a class="mega-menu-link" href="http://localhost:8980/js/a/login"
                                                   tabindex="0"><i class="fa fa-user-circle-o"></i>
                                                    登录</a>
                                            </li>
                                            <!-- <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-6164"
                                                                        id="mega-menu-item-6164">
                                                                        <a class="mega-menu-link" href="#latestnews" tabindex="0">研发案例</a>
                                                                    </li>
                                                                    <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-6165"
                                                                        id="mega-menu-item-6165">
                                                                        <a class="mega-menu-link" href="#contactinfo" tabindex="0">联系我们</a>
                                                                    </li> -->
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mobilebgfix">
                    <div class="row">
                        <% for(var article in articles){ %>
                        <div class="col-md-12">
                            <h3>
                                <i class="fa fa-gg"></i>
                                <a href="/js/f/view-${article.category}-${article.id}.html">${article.title}</a>
                            </h3>
                            <p>${article.description}</p>
                            <p>${article.createDate}</p>
                        </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </header>


    </div>
</div>
<footer id="footer" class="footer grey-bg">
    ${site.copyright}
</footer>
<style type="text/css">
    #mobilebgfix {
      padding: 80px 40px;
    }
  </style>
</body>
</html>