<% layout('/layouts/default.html', {title: '奖扣记录管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('奖扣记录')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('biz:prize:edit')){ %>
					<a href="${ctx}/biz/prize/form" class="btn btn-default btnTool" title="${text('新增奖扣记录')}"><i class="fa fa-plus"></i> ${text('登记')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${prize}" action="${ctx}/biz/prize/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('主体单位')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="deptId" title="${text('机构选择')}"
							path="office.officeCode" labelPath="office.officeName" 
							url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>				
				<div class="form-group">
					<label class="control-label">${text('奖扣指标')}：</label>
					<div class="control-inline width-120">
							<#form:listselect id="prizeLibIdListselect" title="选择奖扣指标" url="${ctx}/biz/prizeLib/listSelect"
							allowClear="false" path="prizeLib.id" labelPath="prizeLib.ruleRemark" value="id" checkbox="false"
							itemCode="id" itemName="ruleRemark" />

							<#form:input id="prizeTypeId" path="prizeLib.prizeType.id" class="hide" />							
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('获奖时间')}：</label>
					<div class="control-inline">
							<!-- <#form:input path="prizeDate" readonly="true" maxlength="20" class="form-control Wdate required"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});" />	
										 -->
							<#form:input path="prizeDate_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							 dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){prizeDate_lte.click()}});"/>
							 --
							<#form:input path="prizeDate_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="control-label">${text('情况说明')}：</label>
					<div class="control-inline">
						<#form:input path="evidence" maxlength="500" class="form-control width-120"/>
					</div>
				</div> -->
				<!-- <div class="form-group">
					<label class="control-label">${text('奖扣结果')}：</label>
					<div class="control-inline">
						<#form:input path="score" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-60">
						<#form:select path="status" dictType="sys_status" blankOption="true" class="form-control"/>
					</div>
				</div> 
				<!--<div class="form-group">
					<label class="control-label">${text('扩展字段1值')}：</label>
					<div class="control-inline">
						<#form:input path="extend1Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扩展字段2值')}：</label>
					<div class="control-inline">
						<#form:input path="extend2Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扩展字段3值')}：</label>
					<div class="control-inline">
						<#form:input path="extend3Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扩展字段4值')}：</label>
					<div class="control-inline">
						<#form:input path="extend4Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扩展字段5值')}：</label>
					<div class="control-inline">
						<#form:input path="extend5Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('扩展字段6值')}：</label>
					<div class="control-inline">
						<#form:input path="extend6Value" maxlength="64" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("主体单位")}', name:'office.officeName', index:'office.office_code', width:100, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/biz/prize/form?id='+row.id+'" class="btnList" data-title="${text("编辑奖扣记录")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("奖扣指标")}', name:'prizeLib.ruleRemark', index:'a.id', width:300, align:"left"},
		
		{header:'${text("获奖时间")}', name:'prizeDate', index:'a.prize_date', width:150, align:"center",formatter: function(val, obj, row, act){
			return js.formatDate(new Date(val),'yyyy-MM-dd');
		}},
		{header:'${text("奖扣结果")}', name:'score', index:'a.score', width:150, align:"right", formatter: function(val, obj, row, act){
			return "(" + js.getDictLabel(${@DictUtils.getDictListJson('prize_is_add')}, row.prizeLib.isAdd, '${text("未知")}', true) + ") " + js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('biz:prize:audit') ){ %>
				if ( row.status == Global.STATUS_AUDIT ){
					actions.push('<a href="${ctx}/biz/prize/audit?id='+row.id+'&status=0" class="btnList" title="${text("审批通过")}" data-confirm="${text("确认要审批通过该奖扣吗？")}"><i class="fa fa-gavel"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prize/audit?id='+row.id+'&status=5" class="btnList" title="${text("审批不通过奖扣")}" data-confirm="${text("确认审批不通过该奖扣吗？")}"><i class="fa fa-lock text-danger"></i></a>&nbsp;');
				}
			<% } %>

			<% if(hasPermi('biz:prize:edit')){ %>
			    if ( row.status == Global.STATUS_DRAFT ||  row.status == Global.STATUS_AUDIT_BACK ){
					actions.push('<a href="${ctx}/biz/prize/form?id='+row.id+'" class="btnList" title="${text("编辑奖扣")}"><i class="fa fa-pencil"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prize/audit?id='+row.id+'&status=4" class="btnList"  title="${text("提交审批")}" data-confirm="${text("确认要提交到审批吗？")}"><i class="fa fa-magic"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prize/delete?id='+row.id+'" class="btnList" title="${text("删除奖扣")}" data-confirm="${text("确认要删除该奖扣吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
					if (row.status == Global.STATUS_NORMAL){
						actions.push('<a href="${ctx}/biz/prize/disable?id='+row.id+'" class="btnList" title="${text("作废奖扣记录")}" data-confirm="${text("确认要作废该奖扣记录吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
					}
					if (row.status == Global.STATUS_DISABLE){
						actions.push('<a href="${ctx}/biz/prize/enable?id='+row.id+'" class="btnList" title="${text("启用奖扣记录")}" data-confirm="${text("确认要启用该奖扣记录吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
					}
				}
			<% } %>	
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});


</script>