<% layout('/layouts/default.html', {title: '目标选择', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-body">
            <#form:form id="searchForm" model="${prizeLib}" action="${ctx}/biz/prizeLib/listData" method="post" class="form-inline"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">

            <#form:hidden name="isAll" value="${parameter.isAll}"/>
            <#form:hidden name="status" value="0"/>
            <div class="form-group">
                    <label class="control-label">${text('奖扣分类')}：</label>
                    <div class="control-inline " style="width:200px;">
                        <#form:select path="prizeType.id" dictType="" blankOption="true" class="form-control"/>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label">${text('奖扣说明')}：</label>
                <div class="control-inline">
                    <#form:input path="ruleRemark" maxlength="500" class="form-control width-120"/>
                </div>
            </div>            
            <div class="form-group">
                <label class="control-label">${text('部门')}：</label>
                <div class="control-inline width-120" >
                    <#form:treeselect id="deptId" title="${text('机构选择')}"
                    path="office.officeName" labelPath=""
                    url="${ctx}/sys/office/treeData" allowClear="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('类型')}：</label>
                <div class="control-inline width-120">
                    <#form:select path="isAdd" dictType="prize_is_add" blankOption="true" class="form-control"/>
                </div>
            </div>
            <!-- <div class="form-group">
                <label class="control-label">${text('加分控制')}：</label>
                <div class="control-inline">
                    <#form:input path="limit" class="form-control width-120"/>
                </div>
            </div> -->
            <!-- <div class="form-group">
                <label class="control-label">${text('状态')}：</label>
                <div class="control-inline width-120">
                    <#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
                </div>
            </div> -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                <button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
            </div>
        </#form:form>
        <div class="row">
            <div class="col-xs-10 pr10">
                <table id="dataGrid"></table>
                <div id="dataGridPage"></div>
            </div>
            <div class="col-xs-2 pl0">
                <div id="selectData" class="tags-input"></div>
            </div>
        </div>
    </div>
</div>
</div>
<% } %>
<script>
    //加载分类下拉选择框
$(function(){
	js.ajaxSubmit("${ctx}/biz/prizeType/treeData?___t="
				+ new Date().getTime(), {
			ctrlPermi : '2'/*1拥有的权限 2管理的权限*/
		}, function(data) {
			var typeSelect = $("#prizeType_id")[0];
			$(data).each(function(index, item){
				typeSelect.options.add(new Option(item.pId =="0"?item.name:"  "+item.name, item.id, false, false));
			});
		}, null, null, js.text('loading.message'));
});
</script>
<script>
    var selectData = ${isNotBlank(selectData!) ? selectData! : "{\}"},
    selectNum = 0, dataGrid = $('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [		
		{header:'${text("奖扣分类")}', name:'prizeType.name', index:'prizeType.name', width:100, align:"left"},
		{header:'${text("奖扣说明")}', name:'ruleRemark', index:'a.rule_remark', width:300, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return (val||row.id);
		}},
        {header:'${text("牵头部门")}', name:'office.officeName', index:'office.office_code', width:50, align:"center"},
		{header:'${text("类型")}', name:'isAdd', index:'a.is_add', width:50, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('prize_is_add')}, val, '${text("未知")}', true);
		}},
		{header:'行数据', name:'rowData', hidden:true, formatter: function(val, obj, row, act){
			return JSON.stringify(row);
		}}
	],
        autoGridHeight: function(){
            var height = $(window).height() - $('#searchForm').height() - $('#dataGridPage').height() - 75;
            $('.tags-input').height($('.ui-jqgrid').height() - 10);
            return height;
        },
        showCheckbox: '${parameter.checkbox}' == 'true',
        multiboxonly: false, // 单击复选框时再多选
        ajaxSuccess: function(data){
            $.each(selectData, function(key, value){
                dataGrid.dataGrid('setSelectRow', key);
            });
            initSelectTag();
        },
        onSelectRow: function(id, isSelect, event){
            if ('${parameter.checkbox}' == 'true'){
                if(isSelect){
                    selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
                }else{
                    delete selectData[id];
                }
            }else{
                selectData = {};
                selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
            }
            initSelectTag();
        },
        onSelectAll: function(ids, isSelect){
            if ('${parameter.checkbox}' == 'true'){
                for (var i=0; i<ids.length; i++){
                    if(isSelect){
                        selectData[ids[i]] = JSON.parse(dataGrid.dataGrid('getRowData', ids[i]).rowData);
                    }else{
                        delete selectData[ids[i]];
                    }
                }
            }
            initSelectTag();
        },
        ondblClickRow: function(id, rownum, colnum, event){
            if ('${parameter.checkbox}' != 'true'){
                js.layer.$('#' + window.name).closest('.layui-layer')
                    .find(".layui-layer-btn0").trigger("click");
            }
            initSelectTag();
        }
    });
    function initSelectTag(){
        selectNum = 0;
        var html = [];
        $.each(selectData, function(key, value){
            selectNum ++;
            html.push('<span class="tag" id="'+key+'_tags-input"><span>'+value.ruleRemark+' </span>'
                + '<a href="#" onclick="removeSelectTag(\''+key+'\');" title="取消选择">x</a></span>');
        });
        html.unshift('<div class="title">当前已选择<span id="selectNum">'+selectNum+'</span>项：</div>');
        $('#selectData').empty().append(html.join(''));
    }
    function removeSelectTag(key){
        delete selectData[key];
        dataGrid.dataGrid('resetSelection', key);
        $('#selectNum').html(--selectNum);
        $('#'+key+'_tags-input').remove();
    }
    function getSelectData(){
        return selectData;
    }
</script>
