<% layout('/layouts/default.html', {title: '奖扣分类管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('奖扣指标管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('biz:prizeLib:edit')){ %>
					<a href="${ctx}/biz/prizeLib/form" class="btn btn-default btnTool" title="${text('新增奖扣指标')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${prizeLib}" action="${ctx}/biz/prizeLib/listData" method="post" class="form-inline "
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
					<div class="form-group">
							<label class="control-label">${text('奖扣分类')}：</label>
							<div class="control-inline " style="width:200px;">
								<#form:select path="prizeType.id" dictType="" blankOption="true" class="form-control"/>
							</div>
						</div>
					<div class="form-group">
					<label class="control-label">${text('奖扣说明')}：</label>
					<div class="control-inline">
						<#form:input path="ruleRemark" maxlength="500" class="form-control width-120"/>
					</div>
				</div>			
				<div class="form-group">
					<label class="control-label">${text('部门')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="deptId" title="${text('机构选择')}"
						    path="office.officeCode" labelPath="office.officeName"
							url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>
				<!-- <div class="form-group">
					<label class="control-label">${text('类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="isAdd" dictType="prize_is_add" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('加分控制')}：</label>
					<div class="control-inline">
						<#form:input path="limit" class="form-control width-120"/>
					</div>
				</div>
				 -->
				 <div class="form-group">
						<label class="control-label">${text('状态')}：</label>
						<div class="control-inline width-120">
							<#form:select path="status" dictType="sys_status" blankOption="true" class="form-control"/>
						</div>
					</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
	    {header:'${text("奖扣分类")}', name:'prizeType.name', index:'prizeType.name', width:150, align:"left"},
		{header:'${text("奖扣说明")}', name:'ruleRemark', index:'a.rule_remark', width:300, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/biz/prizeLib/form?id='+row.id+'" class="btnList" data-title="${text("编辑奖扣指标")}">'+(val||row.id)+'</a>';
		}},		
		{header:'${text("牵头部门")}', name:'office.officeName', index:'office.office_code', width:150, align:"center"},
		{header:'${text("类型")}', name:'isAdd', index:'a.is_add', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('prize_is_add')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('biz:prizeLib:audit') ){ %>
				if ( row.status == Global.STATUS_AUDIT ){
					actions.push('<a href="${ctx}/biz/prizeLib/audit?id='+row.id+'&status=0" class="btnList" title="${text("审批通过")}" data-confirm="${text("确认要审批通过该奖扣指标吗？")}"><i class="fa fa-gavel"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prizeLib/audit?id='+row.id+'&status=5" class="btnList" title="${text("审批不通过奖扣指标")}" data-confirm="${text("确认审批不通过该奖扣指标吗？")}"><i class="fa fa-lock text-danger"></i></a>&nbsp;');
				}
			<% } %>

			<% if(hasPermi('biz:prizeLib:edit')){ %>
			    if ( row.status == Global.STATUS_DRAFT ||  row.status == Global.STATUS_AUDIT_BACK ){
					actions.push('<a href="${ctx}/biz/prizeLib/form?id='+row.id+'" class="btnList" title="${text("编辑奖扣指标")}"><i class="fa fa-pencil"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prizeLib/audit?id='+row.id+'&status=4" class="btnList"  title="${text("提交审批")}" data-confirm="${text("确认要提交到审批吗？")}"><i class="fa fa-magic"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/biz/prizeLib/delete?id='+row.id+'" class="btnList" title="${text("删除奖扣指标")}" data-confirm="${text("确认要删除该奖扣指标吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				}
			<% } %>			
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

//加载分类下拉选择框
$(function(){
	js.ajaxSubmit("${ctx}/biz/prizeType/treeData?___t="
				+ new Date().getTime(), {
			ctrlPermi : '2'/*1拥有的权限 2管理的权限*/
		}, function(data) {
			var typeSelect = $("#prizeType_id")[0];
			$(data).each(function(index, item){
				typeSelect.options.add(new Option(item.pId =="0"?item.name:"  "+item.name, item.id, false, false));
			});
		}, null, null, js.text('loading.message'));
});
</script>