<% layout('/layouts/default.html', {title: '奖扣类型管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(prizeType.isNewRecord ? '新增奖扣类型' : '编辑奖扣类型')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${prizeType}" action="${ctx}/biz/prizeType/save" method="post" class="form-horizontal">
			<div class="box-body">				
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="200" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="如果奖扣指标库也指定,则以指标库为准">
								<span class="required ">*</span> ${text('牵头部门')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-8">								
									<#form:treeselect id="ledOffice" title="${text('机构选择')}"
									path="ledOffice.officeCode" labelPath="ledOffice.officeName"
									url="${ctx}/sys/office/treeData"
									class="required" allowClear="true"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('计算类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="isAdd" dictType="prize_is_add" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="计算类型为:单项否决时, 分数控制可忽略">
								<span class="required ">*</span> ${text('分数控制')}：<i class="fa icon-question"></i></label>
							<div class="col-sm-8 ">
								<div class="input-group">
										<#form:input path="limit" class="form-control required number" placeholder="0.0表示不限制"/>
										<span class="input-group-addon">.00</span>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('奖扣标准说明')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="ruleRemark" rows="4" maxlength="500" class="form-control" placeholder="请注明依据和标准细节"/>
							</div>
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('biz:prizeType:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

//分数控制操作提示
if( $("#isAdd").val() == 0){
	$("#limit").attr("readonly","readonly");
}
$("#isAdd").change(function(){
	$("#limit").removeAttr("readonly");
	if($(this).val() == "0"){
		$("#limit").attr("readonly","readonly");
	}
});
</script>