<% layout('/layouts/default.html', {title: '奖扣类型选择', libs: ['dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">

        <div class="box-body">
            <#form:form id="searchForm" model="${prizeType}" action="${ctx}/biz/prizeType/listData" method="post"
            class="form-inline hide"
            data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}"
            data-order-by="${parameter.orderBy}">
            <#form:hidden name="status" value="${isNotBlank(prizeType.status) ? prizeType.status : '0'}"/>
            <#form:hidden name="isAll" value="${parameter.isAll}"/>
            <div class="form-group">
                <label class="control-label">${text('名称')}：</label>
                <div class="control-inline">
                    <#form:input path="name" maxlength="200" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('类型')}：</label>
                <div class="control-inline width-120">
                    <#form:select path="isAdd" dictType="prize_is_add" blankOption="true" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('加分控制')}：</label>
                <div class="control-inline">
                    <#form:input path="limit" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('奖扣标准说明')}：</label>
                <div class="control-inline">
                    <#form:input path="ruleRemark" maxlength="500" class="form-control width-120"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">${text('牵头部门')}：</label>
                <div class="control-inline width-120">
                    <#form:treeselect id="led" title="${text('机构选择')}"
                    path="led" labelPath=""
                    url="${ctx}/sys/office/treeData" allowClear="true"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
                <button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
            </div>
        </#form:form>
        <div class="row">
            <div class="col-xs-10 pr10">
                <table id="dataGrid"></table>
                <div id="dataGridPage"></div>
            </div>
            <div class="col-xs-2 pl0">
                <div id="selectData" class="tags-input"></div>
            </div>
        </div>
    </div>
</div>
</div>
<% } %>

<script>
// 初始化DataGrid对象
 var selectData = ${isNotBlank(selectData!) ? selectData! : "{\}"},
    selectNum = 0, dataGrid =$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/biz/prizeType/form?id='+row.id+'" class="btnList" data-title="${text("编辑奖扣类型")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("类型")}', name:'isAdd', index:'a.is_add', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('prize_is_add')}, val, '${text("未知")}', true);
		}},
		{header:'${text("加分控制")}', name:'limit', index:'a.limit', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("奖扣标准说明")}', name:'ruleRemark', index:'a.rule_remark', width:150, align:"left"},
		{header:'${text("牵头部门")}', name:'', index:'a.led', width:150, align:"center"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('biz:prizeType:edit')){ %>
				actions.push('<a href="${ctx}/biz/prizeType/form?id='+row.id+'" class="btnList" title="${text("编辑奖扣类型")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/biz/prizeType/disable?id='+row.id+'" class="btnList" title="${text("停用奖扣类型")}" data-confirm="${text("确认要停用该奖扣类型吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/biz/prizeType/enable?id='+row.id+'" class="btnList" title="${text("启用奖扣类型")}" data-confirm="${text("确认要启用该奖扣类型吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/biz/prizeType/delete?id='+row.id+'" class="btnList" title="${text("删除奖扣类型")}" data-confirm="${text("确认要删除该奖扣类型吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}},
		{header:'行数据', name:'rowData', hidden:true, formatter: function(val, obj, row, act){
			return JSON.stringify(row);
		}}
	],
	autoGridHeight: function(){
            var height = $(window).height() - $('#searchForm').height() - $('#dataGridPage').height() - 75;
            $('.tags-input').height($('.ui-jqgrid').height() - 10);
            return height;
        },
        showCheckbox: '${parameter.checkbox}' == 'true',
        multiboxonly: false, // 单击复选框时再多选
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		$.each(selectData, function(key, value){
                dataGrid.dataGrid('setSelectRow', key);
            });
            initSelectTag();
	},
	        onSelectRow: function(id, isSelect, event){
            if ('${parameter.checkbox}' == 'true'){
                if(isSelect){
                    selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
                }else{
                    delete selectData[id];
                }
            }else{
                selectData = {};
                selectData[id] = JSON.parse(dataGrid.dataGrid('getRowData', id).rowData);
            }
            initSelectTag();
        },
        onSelectAll: function(ids, isSelect){
            if ('${parameter.checkbox}' == 'true'){
                for (var i=0; i<ids.length; i++){
                    if(isSelect){
                        selectData[ids[i]] = JSON.parse(dataGrid.dataGrid('getRowData', ids[i]).rowData);
                    }else{
                        delete selectData[ids[i]];
                    }
                }
            }
            initSelectTag();
        },
        ondblClickRow: function(id, rownum, colnum, event){
            if ('${parameter.checkbox}' != 'true'){
                js.layer.$('#' + window.name).closest('.layui-layer')
                    .find(".layui-layer-btn0").trigger("click");
            }
            initSelectTag();
        }
});

    function initSelectTag(){
        selectNum = 0;
        var html = [];
        $.each(selectData, function(key, value){
            selectNum ++;
            html.push('<span class="tag" id="'+key+'_tags-input"><span>'+value.name+' </span>'
                + '<a href="#" onclick="removeSelectTag(\''+key+'\');" title="取消选择">x</a></span>');
        });
        html.unshift('<div class="title">当前已选择<span id="selectNum">'+selectNum+'</span>项：</div>');
        $('#selectData').empty().append(html.join(''));
    }
    function removeSelectTag(key){
        delete selectData[key];
        dataGrid.dataGrid('resetSelection', key);
        $('#selectNum').html(--selectNum);
        $('#'+key+'_tags-input').remove();
    }
    function getSelectData(){
        return selectData;
    }

</script>
