<% layout('/layouts/default.html', {title: '上报的具体数据管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('上报的具体数据管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('task:taskData:edit')){ %>
					<a href="${ctx}/task/taskData/form" class="btn btn-default btnTool" title="${text('新增上报的具体数据')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${taskData}" action="${ctx}/task/taskData/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('数据对应的任务')}：</label>
					<div class="control-inline">
						<#form:input path="taskId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('该数据关联的数据项')}：</label>
					<div class="control-inline">
						<#form:input path="collectionDataId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('具体的数据的文字信息')}：</label>
					<div class="control-inline">
						<#form:input path="description" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('文件数据的id')}：</label>
					<div class="control-inline">
						<#form:input path="fileId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("数据对应的任务")}', name:'taskId', index:'a.task_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/task/taskData/form?id='+row.id+'" class="btnList" data-title="${text("编辑上报的具体数据")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("该数据关联的数据项")}', name:'collectionDataId', index:'a.collection_data_id', width:150, align:"left"},
		{header:'${text("具体的数据的文字信息")}', name:'description', index:'a.description', width:150, align:"left"},
		{header:'${text("文件数据的id")}', name:'fileId', index:'a.file_id', width:150, align:"left"},
		{header:'${text("update_date")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('task:taskData:edit')){ %>
				actions.push('<a href="${ctx}/task/taskData/form?id='+row.id+'" class="btnList" title="${text("编辑上报的具体数据")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/task/taskData/delete?id='+row.id+'" class="btnList" title="${text("删除上报的具体数据")}" data-confirm="${text("确认要删除该上报的具体数据吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>