<% layout('/layouts/default.html', {title: '驳回', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<#form:form id="inputForm" model="${businessTargetDataInfo}" action="${ctx}/businesstargetdatainfo/businessTargetDataInfo/saveBack" method="post" class="form-horizontal">
		<div class="box-body">
			<input value="${userCode}" name="userCode" hidden>
			<input value="${userTaskId}" name="userTaskId" hidden>
			<input value="${businessTargetId}" name="businessTargetId" hidden>
			<input value="${stageId}" name="stageId" hidden>
			<div class="form-unit">${text('驳回理由')}</div>
			<#form:hidden path="id"/>
			<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('理由')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:textarea  path="msg" rows="10" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('businesstargetdatainfo:businessTargetDataInfo:edit')){ %>
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>