<% layout('/layouts/default.html', {title: '任务列表', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('任务列表')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${businessPlanUserTask}" action="${ctx}/businesstargetdatainfo/businessTargetDataInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('任务对象')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
			    <div class="form-group">
					<label class="control-label">${text('考核细则')}：</label>
					<div class="control-inline">
						<#form:treeselect  id="businessTarget2" title="${text('考核细则')}"
						path="businessTarget.id" labelPath="businessTarget.targetContent"
						class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('任务状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="taskStatus" dictType="task_status" blankOption="true" class="form-control"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="taskStartTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('结束时间')}：</label>
					<div class="control-inline">
						<#form:input path="taskEndTime" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("任务对象")}', name:'user.userName', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/businessplanusertask/businessPlanUserTask/form?id='+row.id+'" class="btnList" data-title="${text("编辑目标生成的任务")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("考核细则")}', name:'businessTarget.targetContent' ,index:'a.target_id', width:150, align:"left"},
		// {header:'${text("数据采集项")}', name:'businessTargetDataItem.itemName', index:'a.target_data_item_id', width:150, align:"left"},
		{header:'${text("任务状态")}', name:'taskStatus', index:'a.task_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('task_status')}, val, '${text("未知")}', true);
		}},
		//{header:'${text("描述信息")}', name:'taskDescription', index:'a.task_description', width:150, align:"left"},
		{header:'${text("任务开始时间")}', name:'taskStartTime', index:'a.task_start_time', width:150, align:"center"},
		{header:'${text("任务结束时间")}', name:'taskEndTime', index:'a.task_end_time', width:150, align:"center"},
		{header:'${text("期数")}', name:'businessStageTarget2.stageNumber', index:'a.task_end_time', width:150, align:"center"},
		// {header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('businesstargetdatainfo:businessTargetDataInfo:*')){ %>
				// actions.push('<a href="${ctx}/businessplanusertask/businessPlanUserTask/form?id='+row.id+'" class="btnList" title="${text("编辑")}"><i class="fa fa-pencil"></i></a>&nbsp;');
			    if(row.taskStatus == "3") {
					actions.push('<a href="${ctx}/businesstargetdatainfo/businessTargetDataInfo/formNew?view=true&userTaskId=' + row.id + '&businessTargetId=' + row.businessTarget.id + '&userCode=' + row.user.userCode + '" class="btnList" title="${text("查看")}"><i class="fa fa-low-vision"></i></a>&nbsp;');
				}
			    if (row.taskStatus == "4") {
					actions.push('<a href="${ctx}/businesstargetdatainfo/businessTargetDataInfo?id=' + row.id + '&businessTargetId=' + row.businessTarget.id +'&userCode=' + row.user.userCode + '" class="btnList" title="${text("重填")}"><i class="fa fa-retweet"></i></a>&nbsp;');
			    }

			    if(row.taskStatus == "2"){
					actions.push('<a href="${ctx}/businesstargetdatainfo/businessTargetDataInfo/formNew?userTaskId=' + row.id + '&businessTargetId=' + row.businessTarget.id + '&userCode=' + row.user.userCode + '" class="btnList" title="${text("上报")}"><i class="fa fa-paint-brush"></i></a>&nbsp;');
				}
				// actions.push('<a href="${ctx}/businessplanusertask/businessPlanUserTask/delete?id='+row.id+'" class="btnList" title="${text("删除目标生成的任务")}" data-confirm="${text("确认要删除该目标生成的任务吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>