<% layout('/layouts/default.html', {title: '上报的数据管理', libs: ['validate','fileupload','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(businessTargetDataInfo.isNewRecord ? '新增上报的数据' : '编辑上报的数据')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${businessTargetDataInfo}" action="${ctx}/businesstargetdatainfo/businessTargetDataInfo/enable?status=2" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				
				<input hidden name="businessTargetId" id="businessTargetId" value="${businessTargetId}">
				<input name="userTaskId" hidden value="${userTaskId}">
				<div class="row">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('考核细则')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:listselect id="targetDataItemId" title="${text('考核细则')}"
									path="businessTarget.id" labelPath="businessTarget.targetContent"
									url="${ctx}/businesstarget2/businessTarget2/listSelect"
								    checkbox="false" itemCode="id" itemName="targetContent"  readonly="true" class="" allowClear="false"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('数据上报用户')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-5">
								<#form:listselect id="employeeList" title="用户选择"
								url="${ctx}/sys/user/userSelect?userType=employee" allowClear="false"
								path="user.userCode"  labelPath="user.userName" value= "id" readonly="true" checkbox="false" itemCode="userCode" itemName="userName"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('数据项')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<table id="businessTargetDataItem2DataGrid"></table>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">${text('附件上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadFile" bizKey="${businessTargetDataInfo.id}" bizType="businessTargetDataInfo_file"
									uploadType="all" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('businesstargetdatainfo:businessTargetDataInfo:edit')){ %>
						<button type="submit" onclick="sub()" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('通过')}</button>
						&nbsp;&nbsp;
						<a href="${ctx}/businesstargetdatainfo/businessTargetDataInfo/back?userTaskId=${userTaskId}&userCode=${userCode}&businessTargetId=${businessTargetId}&stageId=${stageId}" class="sel_btn ch_cls" >驳回</a>
						<% } %>
						&nbsp;&nbsp;
						<button type="button"  class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

//初始化数据采集项DataGrid对象
$("#businessTargetDataItem2DataGrid").dataGrid({
	data: ${toJson(businessTargetDataInfo.dataInfoDtoList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度

	// 设置数据表格列
	columnModel: [
		{header:'主键', name:'id' ,editable:true, hidden:true},
		{header:'${text("采集数据项")}', name:'itemName', width:150, editable:false, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("说明")}', name:'itemDescription', width:150, editable:false, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("数据填报")}', name:'dataInfo', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
	],

	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	//editGridAddRowBtn: $('#businessTargetDataItem2DataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据

	// 编辑表格的提交数据参数
	editGridInputFormListName: 'businessTargetDataItem2List', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,targetId.id,stageTargetId,itemName,itemWeight,itemScore,itemDescription,createDate,updateDate,', // 提交数据列表的属性字段

	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});


</script>

</div>
<style>
	.sel_btn{
		height: 29px;
		line-height: 21px;
		padding: 0 10px;
		background: #02bafa;
		border: 1px #26bbdb solid;
		border-radius: 3px;
		/*color: #fff;*/
		display: inline-block;
		text-decoration: none;
		font-size: 12px;
		font-style: normal;
		outline: none;
	}
	.ch_cls{
		background: #e4e4e4;
	}
</style>