<% layout('/layouts/default.html', {title: '公式配置', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(businessTarget2.isNewRecord ? '新增指标' : '编辑指标')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${businessTarget2}" action="${ctx}/businesstarget2/businessTarget2/save/expr" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden id="businessTargetId" path="id"/>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('计算公式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea id ="targetResultExpression" path="targetResultExpression" rows="5" maxlength="255" class="form-control"/>
								<button type="button" class="btn btn-sm" id="check"><i class="fa fa-check"></i> ${text('校验')}</button>&nbsp;
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('基本系数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="targetScore" readonly="true" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="control-label col-sm-2" title="">
									<span class="required hide">*</span> ${text('操作符号')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-5">
									<#form:textarea path="symbolList" rows="10" maxlength="200" readonly="true" class="form-control"/>
								</div>
							</div>
						</div>
				</div>

				<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label class="control-label col-sm-2" title="">
									<span class="required hide">*</span> ${text('数据项')}：<i class="fa icon-question hide"></i></label>
								<div class="col-sm-10">
									<#form:textarea path="dataItemList" rows="10" maxlength="200" readonly="true" class="form-control"/>
								</div>
							</div>
						</div>
				</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('businesstarget2:businessTarget2:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

//初始化数据采集项DataGrid对象
$("#businessTargetDataItem2DataGrid").dataGrid({

	data: ${toJson(businessTarget2.businessTargetDataItem2List)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		// {header:'${text("目标ID")}', name:'targetId.id', editable:true, hidden:true},
		// {header:'${text("阶段目标ID")}', name:'stageTargetId', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'50', 'class':'form-control'}},
		{header:'${text("采集数据项")}', name:'itemName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("数据项权重")}', name:'itemWeight', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'4', 'class':'form-control digits'}},
		{header:'${text("数据项得分")}', name:'itemScore', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("说明")}', name:'itemDescription', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#businessTargetDataItem2DataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#businessTargetDataItem2DataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#businessTargetDataItem2DataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据
	
	// 编辑表格的提交数据参数
	editGridInputFormListName: 'businessTargetDataItem2List', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,targetId.id,stageTargetId,itemName,itemWeight,itemScore,itemDescription,createDate,updateDate,', // 提交数据列表的属性字段
	
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});


//初始化阶段目标DataGrid对象
$("#businessStageTarget2DataGrid").dataGrid({

	data: ${toJson(businessTarget2.businessStageTarget2List)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度

	// 设置数据表格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		// {header:'${text("target_id")}', name:'targetId.id', editable:true, hidden:true},
		{header:'${text("期数")}', name:'stageNumber', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'4', 'class':'form-control digits'}},
		{header:'${text("目标值")}', name:'stageTargetValue', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("权重%")}', name:'stageWeight', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'4', 'class':'form-control digits'}},
		{header:'${text("争创值")}', name:'stageTryHardValue', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		// {header:'${text("阶段目标名称")}', name:'stageName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'255', 'class':'form-control'}},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#businessStageTarget2DataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#businessStageTarget2DataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],

	// 编辑表格参数
	editGrid: true,				// 是否是编辑表格
	editGridInitRowNum: 1,		// 编辑表格的初始化新增行数
	editGridAddRowBtn: $('#businessStageTarget2DataGridAddRowBtn'),	// 子表增行按钮
	editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据

	// 编辑表格的提交数据参数
	editGridInputFormListName: 'businessStageTarget2List', // 提交的数据列表名
	editGridInputFormListAttrs: 'status,id,targetId.id,stageNumber,stageTargetValue,stageWeight,stageTryHardValue,createDate,updateDate,stageName,', // 提交数据列表的属性字段

	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

$("#check").click(function () {
	var  expr = $("#targetResultExpression").val();
	var  id = $("#businessTargetId").val();
	console.log(expr);
	$.getJSON("check",{targetResultExpression:expr,businessTargetId:id},function (data) {
		console.log(data);
	});
});
</script>