<% layout('/layouts/default.html', {title: '申诉管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">

	<div class="nav-tabs-custom nav-main">
		<ul class="nav nav-tabs pull-right">
			<li class=""><a href="#tab-3" data-toggle="tab">裁决结果</a></li>
			<li class=""><a href="#tab-2" data-toggle="tab">受理情况</a></li>
			<li class="active"><a href="#tab-1" data-toggle="tab">申诉信息</a></li>			
			<li class="pull-left header">
				<i class="fa fa-list-alt"></i> ${text(appeal.isNewRecord ? '提起申诉' : '处理申诉')}  <small>当前状态:</small>
			</li>
		</ul>
		<#form:form id="inputForm" model="${appeal}" action="${ctx}/appeal/appeal/save" method="post"
			class="form-horizontal">
			<input type="hidden" id="dataSourceName" name="dataSourceName" value="" />
			<div class="tab-content">
				<div class="tab-pane active" id="tab-1">
					<div class="box-body">
						<div class="form-unit">${text('申诉信息')}</div>
						<#form:hidden path="id" />
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('申诉人')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="createBy" maxlength="64" class="form-control"  readonly="readonly" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('申诉时间')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="createDate" readonly="true" maxlength="20" class="form-control Wdate readonly"
											dataFormat="datetime" data-options="disabled:true" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false,isShowToday:false, isShowOK:false, disabledDays: [0,7] });" readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('申诉项目')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="palnId" maxlength="64" class="form-control required" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required ">*</span> ${text('考核阶段')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="phasesId" maxlength="64" class="form-control required" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="control-label col-sm-2" title="">
										<span class="required hide">*</span> ${text('具体事项')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-10">
										<#form:textarea path="items" rows="4" maxlength="2000" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="control-label col-sm-2" title="">
										<span class="required hide">*</span> ${text('申诉理由')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-10">
										<#form:textarea path="reason" rows="4" maxlength="2000" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="control-label col-sm-2" title="可以上传照片或文本材料">${text('申诉材料')}：<i class="fa icon-question"></i></label>
									<div class="col-sm-10">
										<#form:fileupload id="uploadFile" bizKey="${appeal.id}" bizType="appeal_file" uploadType="all"
											class="" readonly="false" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane " id="tab-2">
					<div class="box-body">
						<div class="form-unit">受理情况</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('受理人')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="receiverBy" maxlength="64" class="form-control" readonly="readonly" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('受理时间')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="receiveDate" readonly="true" maxlength="20" class="form-control Wdate readonly"
											dataFormat="datetime" data-options="disabled:true" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false, isShowToday:false, isShowOK:false, disabledDays: [0,7]});" readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="control-label col-sm-2" title="请填写受理或拒绝受理的意见">
										<span class="required hide">*</span> ${text('受理意见')}：<i class="fa icon-question "></i></label>
									<div class="col-sm-10">
										<#form:textarea path="opinion" rows="4" maxlength="2000" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane " id="tab-3">
					<div class="box-body">
						<div class="form-unit">裁决结果</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<label class="control-label col-sm-2" title="">
										<span class="required hide">*</span> ${text('处理过程及意见')}：<i
											class="fa icon-question hide"></i></label>
									<div class="col-sm-10">
										<#form:textarea path="process" rows="4" maxlength="2000" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('裁决结果')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:select path="result" dictType="" multiple="true" blankOption="true" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="请输入需要加分或减分(带-号)的分数">
										<span class="required hide">*</span> ${text('分数调整结果')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="score" class="form-control number" />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('审批')}：<i class="fa icon-question hide"></i></label>
									<div class="col-sm-8">
										<#form:input path="auditBy" maxlength="64" class="form-control readonly" readonly="readonly" />
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="control-label col-sm-4" title="">
										<span class="required hide">*</span> ${text('审批时间')}：<i class="fa icon-question hide" ></i></label>
									<div class="col-sm-8">
										<#form:input path="auditDate" readonly="true" maxlength="20" class="form-control Wdate readonly"
											dataFormat="datetime" data-options="disabled:true" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false, readOnly:true});" readonly="readonly"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="form-unit"></div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
										<span class="required hide">*</span> ${text('申诉流程操作记录')}：<i class="fa icon-question hide"></i></label>
							<div class=" col-sm-10">
								<p><small>${appeal.logs}</small></p>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="hidden" id="status" name="status" value="" />
						<!-- todo:需要添加操作权限限制 -->
						<%if(step == 1 && (appeal.status == null ||appeal.status == "" || appeal.status == "0")){%>
							<button id="btnSave" type="submit" class="btn btn-sm btn-primary"
							title="保存,方便修改"><i class="fa fa-save"></i>保存申诉</button> 

							<button id="btnTQSS" type="submit" class="btn btn-sm btn-success" onclick="$('#status').val('3');"
							title="保存并提请上级受理"><i class="fa fa-fire"></i>提起申诉</button>
						<%}%>
						<%if(step == 2 && (appeal.status == "3" || appeal.status == "4")){%>
							<button id="btnSL" type="submit" class="btn btn-sm btn-primary" onclick="$('#status').val('4');"
							title="受理"><i class="fa fa-paint-brush"></i>受理</button> 

							<button id="btnJJSL" type="submit" class="btn btn-sm btn-danger" onclick="$('#status').val('5');"
							title="请填写受理意见,阐明拒绝理由"><i class="fa fa-unlink"></i>拒绝受理</button> 
							<button id="btnTH" type="submit" class="btn btn-sm btn-primary" onclick="$('#status').val('0');"
							title="材料不充分等原因"><i class="fa fa-reply"></i>退回</button>&nbsp;	
							<button id="btnTJCJ" type="submit" class="btn btn-sm btn-success" onclick="$('#status').val('6');"
							title=""><i class="fa fa-users"></i>提交裁决</button>
						<%}%>
						<%if(step == 3 && appeal.status == "6"){%>	
						<button id="btnTH" type="submit" class="btn btn-sm btn-primary" onclick="$('#status').val('0');"
							title="材料不充分等原因"><i class="fa fa-reply"></i>退回</button>&nbsp;					
							<button id="btnCJBTG" type="submit" class="btn btn-sm btn-danger" onclick="$('#status').val('8');"
							title="先保存起来，不进行下一步。"><i class="fa fa-user-times"></i>裁决不通过</button>&nbsp;
						<button id="btnCJTG" type="submit" class="btn btn-sm btn-success" onclick="$('#status').val('9');"
							title="评测事项得分将根据分数调整结果调整"><i class="fa fa-gavel"></i>裁决通过</button>&nbsp;
						<%}%>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i
								class="fa fa-reply-all"></i> 关 闭</button>					
						
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
	$("#inputForm").validate({
		submitHandler: function (form) {
			js.ajaxSubmitForm($(form), function (data) {
				js.showMessage(data.message);
				if (data.result == Global.TRUE) {
					js.closeCurrentTabPage(function (contentWindow) {
						contentWindow.page();
					});
				}
			}, "json");
		}
	});


	//可编辑限制
	var step = "${step}";
	$(function(){
		//表单项处理
		$(".tab-content input, .tab-content textarea").attr("readonly", "readonly");
		$("#tab-" + step).find("input, textarea").removeAttr("readonly");

		//分页标签处理
		$("#tab-1").removeClass("active");
		$("#tab-2").removeClass("active");
		$("#tab-3").removeClass("active");
		$("#tab-" + step).addClass("active");
		$(".nav-tabs>li").removeClass("active");

		var liStep = 0;
		switch(step){
			case "1":
				liStep = 2;
				break;
			case "2":
				liStep = 1;
				break;
			case "3":
				liStep = 0;
				break;
			default:
				liStep = 0;
		}
		$(".nav-tabs>li").eq(liStep).addClass("active");
	});
</script>