<% layout('/layouts/default.html', {title: '评分结果申诉管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('评分结果申诉管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('appeal:appeal:edit')){ %>
					<a href="${ctx}/appeal/appeal/form" class="btn btn-default btnTool" title="${text('新增评分结果申诉')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${appeal}" action="${ctx}/appeal/appeal/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('申诉人/部门')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申诉理由')}：</label>
					<div class="control-inline">
						<#form:input path="reason" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申诉文件')}：</label>
					<div class="control-inline">
						<#form:input path="fileId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('该申诉关联的 考核计划')}：</label>
					<div class="control-inline">
						<#form:input path="planId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申诉结果')}：</label>
					<div class="control-inline">
						<#form:input path="result" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('申诉结果描述信息')}：</label>
					<div class="control-inline">
						<#form:input path="msg" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('审查处理人')}：</label>
					<div class="control-inline">
						<#form:input path="handleId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("申诉人/部门")}', name:'userId', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/appeal/appeal/form?id='+row.id+'" class="btnList" data-title="${text("编辑评分结果申诉")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("申诉理由")}', name:'reason', index:'a.reason', width:150, align:"left"},
		{header:'${text("申诉文件")}', name:'fileId', index:'a.file_id', width:150, align:"left"},
		{header:'${text("该申诉关联的 考核计划")}', name:'planId', index:'a.plan_id', width:150, align:"left"},
		{header:'${text("申诉结果")}', name:'result', index:'a.result', width:150, align:"left"},
		{header:'${text("申诉结果描述信息")}', name:'msg', index:'a.msg', width:150, align:"left"},
		{header:'${text("审查处理人")}', name:'handleId', index:'a.handle_id', width:150, align:"left"},
		{header:'${text("update_date")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('appeal:appeal:edit')){ %>
				actions.push('<a href="${ctx}/appeal/appeal/form?id='+row.id+'" class="btnList" title="${text("编辑评分结果申诉")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/appeal/appeal/delete?id='+row.id+'" class="btnList" title="${text("删除评分结果申诉")}" data-confirm="${text("确认要删除该评分结果申诉吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>